/* Doric-Light */
* {
    background:     #ffffff; /* bg_main */
    background-alt: #efeff2; /* bg_dim */
    foreground:     #000000; /* fg_main */
    selected:       #a0bcd0; /* bg_mode_line */
    selected-fg:    #000000; /* fg_mode_line */
    active:         #106710; /* g_green */
    urgent:         #a01010; /* red */
}
